

.content {
	max-width: 1000px;
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button-wrap {
/*	padding: 2.5em 0 0;*/
	font-size: 1.25em;
}

button.trigger {
/*	background: #c94e50;*/
	color: #000;
	border: none;
        background: transparent;
        cursor: pointer
}

.menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.menu:before, .menu:after { content: ''; display: table; }
.menu:after { clear: both; }

.menu > div {
	flex: auto;
	text-align: left;
	margin: 0.25em;
	padding: 2em 3em;
	background: rgba(255,255,255,0.2);
}

.menu h2 {
	margin: 0 0 0.25em;
	padding: 0 0 0.25em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 72.25%;
	color: #9BA890;
}

.menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu ul:not(:last-of-type) {
	padding-bottom: 2em;
}

.menu ul li a {
	display: block;
	font-weight: bold;
	padding: 0.25em 0;
	font-size: 145%;
}

.menu ul li a.current-demo {
	color: #fff;
}

/* Related demos */
.related {
	margin-top: 8em;
	clear: both;
	padding: 1em 0 20em;
	font-weight: bold;
}

.related > a {
	display: inline-block;
}
